
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <app-my-experience></app-my-experience>
                </li>
                <li class="nav-item">
                    <app-my-training></app-my-training>
                </li>
                <li class="nav-item">
                    <app-my-skills></app-my-skills>
                </li>
                <li class="nav-item">
                    <app-my-hobbies></app-my-hobbies>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet name="cv"></router-outlet>
        </div>
    </div>
</div>